$size-1: 2.5rem;    // 40px
$size-2: 2rem;      // 32px
$size-3: 1.5rem;    // 24px
$size-4: 1.25rem;   // 20px
$size-5: 1.125rem;  // 18px
$size-6: 1rem;      // 16px
$size-7: 0.875rem;  // 14px
$size-8: 0.75rem;   // 12px
$size-9: 0.625rem;  // 10px

.is-1 {
  font-size: $size-1;
}
.is-2 {
  font-size: $size-2;
}
.is-3 {
  font-size: $size-3;
}
.is-4 {
  font-size: $size-4;
}
.is-5 {
  font-size: $size-5;
}
.is-6 {
  font-size: $size-6;
}
.is-7 {
  font-size: $size-7;
}
.is-8 {
  font-size: $size-8;
} 