<div class="side-menu">
  <div class="logo-wrapper mx-auto">
    <a class="logo">
      <span class="logo-sm">
        <img src="assets/logo.svg" height="30" />
      </span>
    </a>
  </div>

  <ul class="nav w-100">
    <li class="nav-item mb-0">
      <a
        class="nav-link flex-hv-centered"
        routerLink="/chatlist"
        routerLinkActive="active"
      >
        <span class="material-icons">textsms</span>
      </a>
    </li>
    <li class="nav-item mb-0">
      <a
        class="nav-link flex-hv-centered"
        routerLink="/contacts"
        routerLinkActive="active"
      >
        <span class="material-icons">contacts</span>
      </a>
    </li>
  </ul>

  <div class="profile">
    <a class="flex-hv-centered nav-link" routerLink="/profile">
      <img src="assets/avatar-7.jpg" class="profile-pic" />
    </a>
  </div>
</div>
