.login-logo-text {
  margin: 25px 0 20px 0;

  h2 {
    font-size: 28px;
  }
}

.visibility-icon {
  cursor: pointer;
}

.signin-title {
  font-size: 22px;
}

.signin-description {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (min-width: 991.98px) {
  .login-logo-text {
    margin: 40px 0 30px 0;

    h2 {
      font-size: 32px;
    }
  }

  .signin-description {
    margin-bottom: 15px;
  }
}
