<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <div class="text-center">
        <a class="login-logo-text d-block" href="/">
          <h2>M-Talk</h2>
        </a>
        <h4 class="signin-title">Sign in</h4>
        <p class="text-muted signin-description">
          Sign in to continue to M-Talk.
        </p>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div class="p-3">
            <ngb-alert *ngIf="error" type="danger" (closed)="warningClosed()">
              {{ error }}
            </ngb-alert>
            <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
              <div class="form-group mb-4">
                <label>Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="material-icons">person</span>
                    </span>
                  </div>
                  <input
                    ngModel
                    required
                    name="username"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="invalid-feedback"><sup>*</sup>Enter your email</div>
              </div>
              <div class="form-group mb-4">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="material-icons">lock</span>
                    </span>
                  </div>
                  <input
                    ngModel
                    name="password"
                    class="form-control"
                    [type]="showPassword ? 'text' : 'password'"
                    placeholder="Enter your password"
                  />
                  <div
                    class="input-group-append visibility-icon"
                    (click)="togglePassword()"
                  >
                    <span class="input-group-text">
                      <span *ngIf="!showPassword" class="material-icons">
                        visibility
                      </span>
                      <span *ngIf="showPassword" class="material-icons">
                        visibility_off
                      </span>
                    </span>
                  </div>
                </div>
                <div class="invalid-feedback">
                  <sup>*</sup>Enter your Password
                </div>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input
                  type="checkbox"
                  id="remember-check"
                  class="custom-control-input"
                />
                <label for="remember-check" class="custom-control-label">
                  Remember me
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-block">
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="mt-3 text-center">
        <p>
          Don't have an account ?
          <a routerLink="/register" class="link-primary">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</div>
