.message-form {
  padding: 16px;
  border-top: 1px solid #dadcde;

  input{
    height: 35px;
  }

  button span{
    font-size: 18px;
  }

  .btn-send {
    margin-left: 16px;
    padding: 3px 12px;
  }
}
