.messages-wrapper {
  border-left: 1px solid #dadcde;
  height: 100vh;

  .message-date {
    font-size: 14px;
    background: #5e72e477;
    border-radius: 4px;
    padding: 4px 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding: 10px;
    border-bottom: 1px solid #dadcde;

    .header-back-btn {
      border: none;
      padding: 0;
      background-color: transparent;
      margin-top: 10px;
      margin-right: 8px;

      span {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #525f7f;
      }
    }

    .info-btn-outer {
      position: relative;

      &:hover > p {
        display: block;
      }

      &:hover > span {
        color: #f5f5f5;
      }

      p {
        color: #f5f5f5;
        font-size: 14px;
        background-color: #5e72e4;
        border-radius: 15px;
        padding: 5px 35px 5px 15px;
        margin-right: -28px !important;
        display: none;
        position: absolute;
        width: max-content;
        right: 22px;
      }

      span {
        color: #5e72e4;
        font-size: 22px;
        z-index: 2;
      }
    }

    .profile-pic {
      width: 40px;
      height: 40px;
    }

    h5.profile-name {
      font-size: 17px;
    }

    p.profile-status {
      font-size: 12px;
      line-height: 1;
    }
  }

  .messages {
    padding: 10px 15px;
    height: calc(100vh - 190px);
    overflow-y: auto;
  }

  .message-form-outer {
    margin-top: 0;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #5e72e4;
  }
}

@media (min-width: 991.98px) {
  .messages {
    height: calc(100vh - 178px) !important;
  }

  .message-form-outer {
    margin-top: auto !important;
  }
}
