/* You can add global styles to this file, and also import other style files */
:root {
  --primary: $primary;
}

body {
  background: #f7f7ff;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.flex-v-centered {
  align-items: center;
}

.flex-hv-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
